.container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

img{
    width:450px;
    height:300px;
    transition: all 1s ease-in-out;
    margin:10px;
}

img:hover{
    transform:scale(1.1);
}

.heading{
    color: rgb(red, green, blue);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

}